body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.app-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    width: 200px;
}

.app-card img {
    max-width: 100%;
    height: auto;
}
